@(name: String, value: String, ele_type: String)

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title>メニュー</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public","stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public","stylesheets/menu.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public","images/favicon.png")">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        
        <script src="@routes.Assets.at("/public","javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("/public","javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("/public","javascripts/Object_in.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("/public","javascripts/jquery.contextmenu.r2.js")" type="text/javascript"></script>
        
        <script type="text/javascript">
        	function append_button_link(name,value){
        		var link = name;
        		var dir = value;
        		if(link != ""){
        			var body = parent.main.document.getElementById('body_main');
        			var tag = document.createElement('div');
					tag.id = ElementID;
					tag.className = "context";
					tag.style.width =  "60px";
					tag.style.height = "30px";
        			
        			var btn_tag = document.createElement('input');
					btn_tag.type = "button";
					btn_tag.id = "btn_id";
					btn_tag.value = link+"へ移動";
					var f = "location.href='" + dir + "'";
					btn_tag.setAttribute('onclick', f);
					
					body.appendChild(tag);
					tag.appendChild(btn_tag);
					
					ElementID++;
					parent.main.context();
					
					parent.menu.document.getElementById('title01').innerHTML = "";
        		}
        	}
        
        	function append_text_link(name,value){
        		var link = name;
        		var dir = value;
        		if(link != ""){
        			var body = parent.main.document.getElementById('body_main');
        			var tag = document.createElement('div');
					tag.id = ElementID;
					tag.className = "context";
					tag.style.width =  "60px";
					tag.style.height = "30px";
        			
        			var txt_tag = document.createElement('a');
					txt_tag.id = "txt_id";
					txt_tag.href = dir;
					txt_tag.innerHTML = link;
					
					body.appendChild(tag);
					tag.appendChild(txt_tag);
					
					ElementID++;
					parent.main.context();
					
					parent.menu.document.getElementById('title01').innerHTML = "";
        		}
        		
        	}
        	
        	$(function(){
        		var name = "@name";
        		var value = "@value";
        		var type = "@ele_type";
        		if(name!="" && value!=""){
        			if(type == "button"){
      					append_button_link(name,value);
      				}else if(type == "text"){
      					append_text_link(name,value);
      				}
        		}
 			})
        </script>
    </head>
    <body>
        <div id="menu" class="demo1">
			<div><button onclick="addBtn()">ボタン</button></div>
			<div><button onclick="addTxt()">テキスト</button></div>
			<div><button onclick="addTxb()">テキストボックス</button></div>
			
			<div><button onclick="addPct()">画像</button></div>
	
			<div><button onclick="addTwt()">Twitter</button></div>
			<div><button onclick="addLine()">Line</button></div>
			<div><button onclick="addFace()">Facebook</button></div>
			<div><button onclick="Window_YouTube()">YouTube</button></div>
			<br>
			<div>
				<form id="FileUpload" name="upload" method="post" action="/upload" target="upload-image" onChange="sendImage()" enctype="multipart/form-data">
    				@CSRF.formField
    				<input type="file" name="image"/>
    				<input type="submit" id="submit" name="submit" value="送信"/>
    				<input type="reset" id="reset" name="reset" />
				</form>
				<iframe id="FileUploadIframe" name="upload-image" "></iframe>
			</div>
			<br>
			<input type="button" value="リンク" onclick="window.open('/edit_call/link','ucreatepage_link','width=640,height=480,location=0');return false;">
			
			<br>
			<input type="button" value="リンク（任意）" onclick="window.open('/edit_call/addlink','ucreatepage_addlink','width=640,height=480,location=0');return false;">
			<!--画像送信スクリプト-->
			<script>
				function sendImage() {
					$("#submit").trigger('click');
					$("#reset").trigger('click');
				}
			</script>
    </body>
</html>
