@(target_name: String)
<!DOCTYPE html>
<html>
    <head>
        <title>ヘッダ</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/Object_in.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.contextmenu.r2.js")" type="text/javascript"></script>
        
    </head>
    <body>
    	<form action="#" name="name" class="head_menu">
    		<input type="hidden" name="edit_page_name" value="@target_name">
    	</form>
    	<div class="head_menu">
    		<p>現在、[ @target_name ]を操作しています。</p>
    	</div>
        <div class="head_menu">
			<div class="head">
				<button onclick="call_dicition_name()">新規作成</button>
			</div>
			<div class="head">
				<button onclick="change_page()">ページの変更</button>
			</div>
			<form action="#" name="save" class="head">
				@helper.CSRF.formField
				<button  onclick="save_page()">保存</button>
			</form>
		</div>
    </body>
</html>
