@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/Object_in.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.contextmenu.r2.js")" type="text/javascript"></script>
    </head>
    <body>
		<h2>新たに作成するページの名前を指定してください。</h2>
		
        @helper.form(action = routes.Application.new_page()){
        @helper.CSRF.formField
        <input name="name" type="text"></input>.html</br>
        <input type="submit" value="決定"/>
        }
		<input type="button" onclick="location.href='/edit_page'" value="編集画面に戻る" />
    </body>
</html>