@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
        
        <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.fittext.js")" type="text/javascript"></script>
        
        <script src="@routes.Assets.at("javascripts/Object_in.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.contextmenu.r2.js")" type="text/javascript"></script>
        <script type="text/javascript">
 
		//要素にdraggable,resizable属性を加える(テキストのみ)
		function txtmv() {
			$('.pchan').draggable();
			$('.pchan').resizable({stop: fix(), handles: "all"});
			//$('.pchan').resizable({stop: fix(), handles: "all"}).parent(".ui-wrapper").draggable();
		}
		
		function pctmv() {
			$('.img_chan').resizable({stop: fix(), handles: "all"}).parent(".ui-wrapper").draggable();
		}
		
		
		//要素の横幅に併せて文字サイズを変更する
		function fix() {
			$('#txt_chan').fitText();
		}
		</script>
        <script type='text/javascript'>
		$(function() {
    		$('.demo1').contextMenu('myMenu',
        		{
            		bindings: {
                	'open': function(t) {
                		alert('Trigger was '+t.id+'\nAction was Open');
            		},
            		'email': function(t) {
                		alert('Trigger was '+t.id+'\nAction was Email');
            		},
            		'save': function(t) {
                		alert('Trigger was '+t.id+'\nAction was Save');
            		},
            		'delete': function(t) {
                		alert('Trigger was '+t.id+'\nAction was Delete');
            		}
        		}
    		});
		});
		</script>
    </head>
    <body>
    
        <div class='contextMenu' id='myMenu'>
    		<ul>
        		<li id='open'>Open</li>
        		<li id='email'>Email</li>
        		<li id='save'>Save</li>
        		<li id='close'>Close</li>
    		</ul>
	</div>
    </body>
</html>